<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="${1:ie=edge}">
  <meta name="viewport" content="${2:width=device-width, initial-scale=1, shrink-to-fit=no}">

  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>

   <div class="py-5 text-center bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4 text-white">Best pictures</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="../images/ex.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="../images/ex2.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="../images/ex3.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="../images/ex4.jpg"> </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_6.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_7.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_8.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_9.jpg"> </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_10.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_11.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_12.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_13.jpg"> </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_15.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_2.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_14.jpg"> </a>
        </div>
        <div class="col-md-3 col-6 p-1">
          <a href="#">
            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_16.jpg"> </a>
        </div>
      </div>
    </div>
  </div>


  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>