<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="${1:ie=edge}">
  <meta name="viewport" content="${2:width=device-width, initial-scale=1, shrink-to-fit=no}">

  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>

  <!-- Cover-->
  <div class="py-5 bg">
    <div class="container mt-2">
      <div class="row">
        <div class="col-md-12 text-center cover-font">
          <p class="mb-4">Nogueira's Pizzaria</p>
          <a href="/login" style="text-decoration: none;">Inscreva-se para solicitar pedido</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Cover-->

  <!-- Gallery section-->
  <section class="bg-body">
    <div class="container py-5">

      <div class="row mb-5">
        <div class="col-md-12">
          <h2 class="text-center" id="g-h2">Conheça nossa cozinha</h2>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 pb-1">

          <div class="row">
            <div class="col-12">
              <img class="img-fluid" src="../images/ex.jpg" alt="">
            </div>
          </div>

        </div>

        <div class="col-md-6 mt-1">

          <div class="row mb-3">

            <div class="col-4">
              <img class="img-fluid" src="../images/ex2.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid" src="../images/ex.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid" src="../images/ex4.jpg" alt="">
            </div>

          </div>

          <div class="row mb-3">

            <div class="col-4">
              <img class="img-fluid" src="../images/ex.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid" src="../images/ex4.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid" src="../images/ex3.jpg" alt="">
            </div>

          </div>

          <div class="row">

            <div class="col-4">
              <img class="img-fluid" src="../images/ex.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid" src="../images/ex4.jpg" alt="">
            </div>
            <div class="col-4">
              <img class="img-fluid" src="../images/ex3.jpg" alt="">
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- Gallery section-->

  <!-- Slideshow section-->
  <section class="py-5 bg-section">
    <div class="container py-5 my-3">

      <div class="row">

        <div class="col-md-6 px-5 mt-4 text-center" id="catalog">
          <div class="row mt-5">
            <div class="col-12">
              <h2>Lorem Ipsum</h2>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <p class="mb-5">lorem ipsum sit amet dolor. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="javascript:void(0)">Ver catálogo</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">

          <div class="row">
            <div class="col-12" id="">
              <div class="slide-show active py-2">
                <img src="../images/ex2.jpg" alt="">
              </div>
              <div class="slide-show">
                <img src="../images/ex2.jpg" alt="">
              </div>
              <div class="slide-show">
                <img src="../images/ex2.jpg" alt="">
              </div>
              <div class="slide-show">
                <img src="../images/ex2.jpg" alt="">
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section>
  <!-- Slideshow section-->

  <!-- Icon section-->
  <section class="py-5 my-5" id="icon-section">
    <div class="container">

      <div class="row">
        <div class="col-md-4 py-5">

          <div class="row">
            <div class="col-3">
              <img src="../images/info.svg">
            </div>
            <div class="col-9">
              <span>lorem impsum sit amet dolor lorem impsum sit amet dolor. lorem ipsum sit amet dolor.</span>
            </div>
          </div>

        </div>

        <div class="col-md-4 py-5">

          <div class="row">
            <div class="col-3">
              <img src="../images/piggy-bank.svg">
            </div>
            <div class="col-9">
              <span>lorem impsum sit amet dolor lorem impsum sit amet dolor. lorem ipsum sit amet dolor.</span>
            </div>
          </div>

        </div>

        <div class="col-md-4 py-5">

          <div class="row">
            <div class="col-3">
              <img src="../images/wood.svg">
            </div>
            <div class="col-9">
              <span>lorem impsum sit amet dolor lorem impsum sit amet dolor. lorem ipsum sit amet dolor.</span>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-4 py-5">

          <div class="row">
            <div class="col-3">
              <img src="../images/recipe-book.svg">
            </div>
            <div class="col-9">
              <span>lorem impsum sit amet dolor lorem impsum sit amet dolor. lorem ipsum sit amet dolor.</span>
            </div>
          </div>

        </div>

        <div class="col-md-4 py-5">

          <div class="row">
            <div class="col-3">
              <img src="../images/wood.svg">
            </div>
            <div class="col-9">
              <span>lorem impsum sit amet dolor lorem impsum sit amet dolor. lorem ipsum sit amet dolor.</span>
            </div>
          </div>

        </div>

        <div class="col-md-4 py-5">

          <div class="row">
            <div class="col-3">
              <img src="../images/info.svg">
            </div>
            <div class="col-9">
              <span>lorem impsum sit amet dolor lorem impsum sit amet dolor. lorem ipsum sit amet dolor.</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- Icon section-->



<!-- Contact Section -->
  <section>
    <div class="container">

      <div class="row my-4 py-5">

        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <img id="maps" src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMapTA.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-2 px-2">
          <div class="row">
            <div class="col-12 py-5 pl-5" id="contact">
              <h2 class="text-center mb-5">Nogueira's Pizzaria</h2>
              <p><i class="fas fa-map-marker mr-2"></i>Av. lorem ipsum, 445</p>
              <p><i class="fas fa-map mr-2"></i>Lauzanne pta, São Paulo, SP</p>
              <p><i class="fas fa-phone mr-2"></i>tel: 1234-5678</p>
              <p><i class="fas fa-mobile mr-2"></i>cel: (11)9 1234-5678</p>
              <p><i class="fas fa-envelope mr-2"></i>email: nogueiras@pizza.com.br</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
<!-- Contact Section -->

<!-- Footer -->
  <footer>
    <div class="bg-dark">
    <div class="container">
      <div class="row pl-5">
        <div class="p-4 col-md-4">
          <h2 class="mb-4 text-white">Nogueira's Pizzaria</h2>
          <p class="text-white">A melhor pizza de SP</p>
        </div>
        <div class="p-4 col-md-4">
          <h2 class="mb-4 text-white">Mapsite</h2>
          <ul class="list-unstyled">
            <a href="#" class="text-white">Home</a>
            <br>
            <a href="#" class="text-white">Sobre nós</a>
            <br>
            <a href="#" class="text-white">Inscreva-se</a>
            <br>
            <a href="#" class="text-white">Galeria</a>
          </ul>
        </div>
        <div class="p-4 col-md-4">
          <h2 class="mb-4 text-white">Contato</h2>
          <p>
            <a href="javascript:void(0)" class="text-white"><i class="fa d-inline mr-3 fa-phone"></i>(11)1234-5678</a>
          </p>
          <p>
            <a href="javascript:void(0)" class="text-white"><i class="fa d-inline mr-3 fa-envelope"></i>nogueiras@pizza.com</a>
          </p>
          <p>
            <a href="javascript:void(0)" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>av. do guaca, 445</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2017 Nogueira's Pizzaria - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>

  </footer>
<!-- Footer -->


  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
